**/.git
**/.vscode
**/.devcontainer
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.env
**/.venv
**/node_modules
**/dist
**/build
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/coverage.xml
**/htmlcov
**/*.log
**/Dockerfile.dev
**/docker-compose*.yml
**/test-results.xml
**/secrets.*
